APP_PORT=3838
APP_PLATFORM=linux/amd64
SHINY_PORT=3838
MONGO_DB=MSI_DB
MONGO_URL=mongodb://mongo:27017
MONGO_VERSION=8.2.7
MONGO_HOST_PORT=27018
APP_WORKERS=
APP_WORKER_MAX=10
APP_WORKER_RESERVE_CORES=1
APP_WORKER_CPU_FRACTION=0.75
APP_MEMORY_PER_WORKER_GB=2
APP_RESERVE_MEMORY_GB=2
APP_BIOCPARALLEL_BACKEND=snow
