MONGO_DB=MSI_DB
MONGO_URL=mongodb://localhost:27018
APP_WORKERS=
APP_WORKER_MAX=16
APP_WORKER_RESERVE_CORES=4
APP_WORKER_CPU_FRACTION=0.75
APP_MEMORY_PER_WORKER_GB=8
APP_RESERVE_MEMORY_GB=50
APP_BIOCPARALLEL_BACKEND=snow
